body, html {
	/*background-color: yellow;*/
	height: 100%;
}

/*Header image*/
.header-image {
	/*image*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("placeholder.jpg");

	/*set height*/
	height:50%;

	/*position image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*Header text*/
.header-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Helvetica, sans-serif;
}

/*Header buttons*/
.academics-button {
	background-color: #ddd;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}
.extracurriculars-button {
	background-color: #ddd;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}
.academics-button:hover {
	background-color: #999;
	color: white;
}
.extracurriculars-button:hover {
	background-color: #999;
	color: white;
}

/*Landing text*/
.landing-text {
	color: black;
}
